@model IEnumerable<TargetFinder.Models.Target.Target>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reward)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLocation)
            </td>
            <td>
                <p style="white-space: pre-line">@item.Description</p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TargetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TargetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TargetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
